body {
    background-color: ;
  }
  
  h1 {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-style: solid;
    border-color: silver;
    font-weight: lighter;
  }

  h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: gray;
    font-weight: lighter;
  }

  h2, h3, h4, h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }

  li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  image {
    display: grid;
  }